{% load static %}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Create Task</title>

    <link rel="stylesheet" href="{% static 'tasks/style.css' %}">

</head>

<body>

<div class="container form-container">

    <div class="header">
        <div>
            <h1>Create New Task</h1>
            <p>Add a new task and organize your work.</p>
        </div>

        <a class="btn back-btn" href="{% url 'task_list' %}">
            ← Back
        </a>
    </div>

    <form method="post">

        {% csrf_token %}

        {{ form.as_p }}

        <div class="form-actions">
            <a class="cancel-btn" href="{% url 'task_list' %}">
                Cancel
            </a>

            <button class="btn" type="submit">
                + Create Task
            </button>
        </div>

    </form>

</div>

</body>
</html>
